@import './variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

html {
  background-color: $background-color-html;
  color: $font-color;
  font-size: 20px;
  font-weight: bold;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  background-color: $background-color-container;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 10px 12px 48px 32px $background-color-html;
  transform: translate(-50%, -70%);
  flex-direction: column;

  > * {
    padding: 20px 0;
  }
}

.form {
  display: flex;
  width: 500px;
  flex-direction: column;
  border-bottom: 1px solid #fff;

  &__date__inputs {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &__label {
    }

    &__input {
      margin: 0 8px;
      padding: 3px 5px;
      font-size: 18px;
    }
  }

  &__submit {
    display: flex;
    align-self: flex-end;
    padding: 8px 20px;
    border: 2px solid $font-color;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;

    &:hover {
      transform: translateY(-3px) scale(1.1);
    }

    &:active {
      transform: translateY(-1px) scale(1.05);
    }
  }
}

.result {
  white-space: pre-wrap;
}
